/* OLD DESIGN */
body,
#mw-head,
#content,
h1, h2, h3, h4, h5, h6,
table, thead, tbody, tr, th, td, ul, ol, li,
#toc,
#mw-fr-reviewnotice, #mw-fr-revisiontag,
.thumbinner,
.mwe-popups, .mwe-popups-container,
.NavHead,
#catlinks, #mw-normal-catlinks, #mw-hidden-catlinks,
#footer-info-lastmod, #footer-info-copyright,
.navbox,
.thumb,
.hidden-title, .hidden-content div,
blockquote,
.ts-oq-header
{
    background-color: #374151 !important;
    color: #d1d5db !important;
}

code {
    color: #d1d5db !important;
    background-color: #4b5563 !important;
}

a {
    color: #60a5fa !important;
    background-color: #374151 !important;
}

button {
    background-color: #3b82f6 !important;
}

.mwe-popups .mwe-popups-extract[dir='ltr']:after {
    display: none;
    background-image: none;
}

.red-link {
    color: #fda4af !important;
}



/* NEW DESIGN */
/* Some styling parts from old design are work for new design too */
body,
.mw-page-container,
h1, h2, h3, h4, h5, h6,
table, thead, tbody, tr, th, td, ul, ol, li,
#vector-toc,
.quotebox, .side-box-abovebelow, .side-box-flex,
.portal-bar,
.spoken-wikipedia,
.rt-tooltip,
#search, .uls-language-list, #uls-settings-block, .uls-no-found-more, .uls-menu, .uls-language-action-items,
.vector-menu-content
{
    background-color: #374151 !important;
    color: #d1d5db !important;
}

#vector-toc:after {
    background: none !important;
}

.mw-ui-icon, .vector-pinnable-header-toggle-button {
    background-color: transparent !important;
}

.uls-filterinput, .cdx-text-input__input, .vector-search-box-input {
    color: #d1d5db !important;
    background-color: #4b5563 !important;
}

.vector-menu-content-list li {
    margin: 2px 8px !important;
}
.vector-menu-content-list li a {
    border-bottom: 1px solid transparent !important;
}

.cdx-button {
    opacity: 1 !important;
}

.vector-pinnable-header-label {
    color: #d1d5db !important;
}

/* Pre tags */
pre {
    background-color: #cbd5e1 !important;
}

code {
    color: #374151 !important;
    background-color: #cbd5e1 !important;
}

code a {
    background-color: #cbd5e1 !important;
}